<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"> 

<head>
    <title>Toeic Master </title>

    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/toeic.png}"/>

  

    <!-- Bootstrap CSS-->
    <link rel="stylesheet"  th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/font-awesome/css/font-awesome.min.css}"/>
    <!-- Custom CSS -->
     <link rel="stylesheet" th:href="@{/css/user_css.css}" />
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

</head> 

<body>

<div th:replace="fragments/layout :: header2"></div>

<div class="container">
    <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
      
        
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
          	 <p style="color: red; margin-bottom: -1px">Tài khoản:</p>
             <p th:text="${user.username}">Lầu Hôn Thìn</p>
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        
        <!-- SIDEBAR MENU -->
        <div th:replace="fragments/user_sidebar :: user-sidebar"></div>
        <!-- END MENU -->
      </div>
    </div>

    <!-- content -->
    <div class="col-md-9">
       <div class="profile-content">
       		<ul class="nav nav-tabs" style="font-size: 16px;">
			    <li class="active" th:classappend="${exam_module == 'create-exam-input' ? 'active' : ''}"><a data-toggle="tab" href="#create-exam-input">Nhập thủ công</a></li>
			    <li th:classappend="${exam_module == 'create-exam-file' ? 'active' : ''}"><a data-toggle="tab" href="#create-exam-file">Nhập file</a></li>
			</ul>
       		<div class="tab-content">
		  	   <div id="create-exam-input" class="tab-pane fade in " th:classappend="${exam_module == 'create-exam-input' ? 'active' : ''}">
		          <div class="exercise">
       
			          <h3 style="text-align: center;color: red; text-transform: uppercase" > Thông tin bài thi</h3>
			          <br/>
			          <form th:object="${exam}" th:action="@{/save-examination}" method="POST">
			            <div class="form-group">
			              <label class="small" for="fullname">Tên bài thi:</label>
			              <input required="required" th:field="*{name}" type="text" class="form-control" id="exercise-name" placeholder="Tên bài thi"/>
			            </div>
			            <div class="form-group">
			              <label class="small" for="birthday">Số câu hỏi:</label>
			              <input required="required" th:field="*{numberOfQuestion}" type="number" class="form-control" id="total-question"/>
			            </div>
			             <div class="form-group">
			              <label class="small" for="birthday">Thời gian làm bài (phút):</label>
			              <input required="required" th:field="*{timeOut}" type="number" class="form-control" id="total-time" />
			            </div>
			            
			            <div class="form-group">
			              <button type="submit" class="btn btn-primary form-control">Lưu lại</button>
			            </div>
			          </form>
          			</div>
          		</div>
          		
          		<div id="create-exam-file" class="tab-pane fade in " th:classappend="${exam_module == 'create-exam-file' ? 'active' : ''}">
	           		<h3 style="text-align: center; color: red">Nhập File</h3>
		          	<br/>
		          	<form th:action="@{/save-exam-file}" method="POST" enctype="multipart/form-data">
		          		<div class="col-md-8" style="margin-top: 30px">
			          		<div class="row">						          			                
					          		<div class="form-group">	
						          		<label class="col-md-4" style="margin-top: 5px" for="part">Xem hướng dẫn:</label>
						          		<div class="col-md-4">	
						          			<div class="row">					         				          			
									             <div class="col-xs-1">							             	
											        <div class="form-group">
											        	 <input type="hidden" id="id_href" />
											             <!-- <button type="button" class="btn btn-info instructionImage" id="btn_instruction" onclick="window.open(document.getElementById('id_href').value + ' ');"> -->
											             <button type="button" class="btn btn-info instructionImage" id="btn_instruction" data-toggle="modal" data-target="#myModal">
											             	<i class="fa fa-picture-o" aria-hidden="true"></i>		
											             </button>			        		
								     				</div>	
									            </div>
									            <div class="col-xs-offset-1 col-xs-1">							             	
											        <div class="form-group">							        	
											             <a class="btn btn-success" type="button" href="/download?url=9"><span class="glyphicon glyphicon-download-alt"></span></a>		        		
								     				</div>	
									            </div>	
									         </div>	
									     </div>						      
					              </div>	
					          </div>			       							            
				         		            
				             <div class="row">  
				          		<div class="form-group">
				          			<label class="col-md-4" style="margin-top: 5px;">Nhập file Exel:</label>    
				          			<div class="col-md-8">  
					          			<div class="form-group"> 			
											<div  class="fileUpload btn btn-primary">
											    <span>Upload</span>
											    <input required="required" name="file" id="uploadBtn" type="file" class="upload" accept=".xls,.xlsx"/>
											</div>		
											<input id="uploadFile" placeholder="Choose File" disabled="disabled" />
										</div>
									</div>
								</div>
							</div>
			          		<!-- <div class="row">  
				          		<div class="form-group">
									<label class="col-md-3" style="margin-top: 5px;">Nhập Sheet: </label>	
									<div class="col-md-6">						
										<input class="form-control" type="text" name="sheetname" />					
									</div>		
								</div>	
							</div>	 -->  
						</div>	
						<div class="col-md-4">
							<div class="instruction-file">
								<h3 style="text-align: center; color: red; margin-top: 5px">
									<strong>CHÚ Ý!</strong>
								</h3>
								<p style="text-align: justify;">
									Bạn nên tạo file Exel với duy nhất một Sheet hoặc Sheet chứa dữ liệu bạn muốn tạo phải nằm tại vị trí đầu tiên của file. 
								</p>
							</div>
						</div>  
						<div class="row">     
							<div class="col-md-offset-1 col-md-5">   		
				          		<div class="form-group" style="margin-top: 20px">
				              		<button type="submit" class="btn btn-primary form-control">Lưu lại</button>
				              	</div>
				            </div>
			            </div>
		          	</form>
	            </div>
          	</div>
       </div>
    </div>
  </div>
</div>


<!-- JS Global Compulsory -->           
<script type="text/javascript" th:src="@{/assets/plugins/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script> 

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <img id="image_part" alt="" src="/assets/img/CauTrucDeThi.PNG" />
      </div>
    </div>
  </div>

    
<script type="text/javascript">
	document.getElementById("uploadBtn").onchange = function () {
	    document.getElementById("uploadFile").value = this.value;
	};
</script>


<script th:inline="javascript">
/*<![CDATA[*/

    var same = /*[[${sameExam}]]*/ 'default';
    console.log(same);
    if(same == 1){
		alert("Tên Bài thi bị trùng hoặc trống. Vui lòng khởi tạo tên khác!");
	} else if(same == 2){
		alert("Thời gian bị trống. Vui lòng nhập thời gian làm bài!");
	} else if(same == 3){
		alert("Số câu hỏi bị trống. Vui lòng nhập số câu hỏi!");
	}

/*]]>*/
</script>


</body>

</html> 