<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"> 

<head>
    <title>Toeic Master - Free Practice for TOEIC® tests </title>

    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/toeic.png}"/>
     <link rel="stylesheet" th:href="@{/assets/plugins/font-awesome/css/font-awesome.min.css}"/>

	<!-- JS Global Compulsory -->  
	    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>         
	    <script type="text/javascript" th:src="@{/assets/plugins/jquery-3.2.1.min.js}"></script>
	    <script type="text/javascript" th:src="@{/assets/plugins/jquery-ui.min.js}"></script>
	    <script type="text/javascript" th:src="@{/assets/plugins/jquery-migrate-1.2.1.min.js}"></script>
	    <script type="text/javascript" th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script> 


    <!-- Bootstrap CSS-->
    <link rel="stylesheet" th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}"/>
    <!-- Custom CSS -->
     <link rel="stylesheet" th:href="@{/css/user_css.css}"/>
     <script type="text/javascript" th:src="@{/js/changerole.js}"></script>

</head> 

<body>

<div th:replace="fragments/layout :: header2" style="height: 100px"></div>
<div class="container">
    <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
      
        
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
          	 <p style="color: red; margin-bottom: -1px">Tài khoản:</p>
             <p th:text="${user.username}">Lầu Hôn Thìn</p>
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        
        <!-- SIDEBAR MENU -->
  		<div th:replace="fragments/user_sidebar :: user-sidebar"></div>
        <!-- END MENU -->
      </div>
    </div>

    <!-- content -->
    <div class="col-md-9">
       <div class="profile-content">
		     	<div class="account-manager">
		            <h3 style="text-align: center; color: red; text-transform: uppercase;">Quản lý tài khoản</h3>
		  			    <div style="max-height: 500px;overflow-y:auto;">
		  	          <table  class="tbmana table table-striped" style="text-align: center; padding: 5px; width:100%" >
		  	              <thead>
		  	                <tr >
		  	                  <th>#</th>
		  	                  <th class="acc-table" >User name</th>
		  	                  <th class="acc-table" style="min-width: 100px">Full Name</th>
		  	                  <th class="acc-table">Email</th>
		  	                  <th class="acc-table">Role</th>
		  	                  <th class="acc-table">Status</th>		  	                  
		  	                  <th class="acc-table">Action</th>
		  	                </tr>
		  	              </thead>
		  	              <tbody >
		  	                <tr th:if="${u.username != 'admin'}" th:each="u,iter : ${users}">
		  	                  <td th:text="${iter.index}">1</td>
		  	                  <td id="a1" th:text="${u.username}">  Unit 1</td>
		  	                  <td th:text="${u.fullName}">1</td>
		  	                  <td th:text="${u.email}">200</td>
		  	                  <td th:if="${u.role == 1}">
			  	                  	<a style="width: 90px" class="btn btn-primary btn-xs chrole" th:value = "${u.id}" type="button" data-toggle="modal" data-target="#change-role">Khách <i style="margin-left: 5px;" class="fa fa-pencil"></i>
			  	                  	</a>
			  	                  	<input id="userid" type="hidden" th:value = "${u.id}" /> 
			  	                  	<input id="roleid" type="hidden" th:value = "${u.role}" /> 
			  	                  	</td>
		  	                  <td th:if="${u.role == 2}">
		  	                  		<a style="width: 90px" class="btn btn-primary btn-xs chrole" type="button" data-toggle="modal" data-target="#change-role">Thành viên <i style="margin-left: 5px;" class="fa fa-pencil"></i>
		  	                  		</a>
		  	                  		<input id="userid" type="hidden" th:value = "${u.id}" /> 
		  	                  		<input id="roleid" type="hidden" th:value = "${u.role}" /> 
		  	                  		</td>
		  	                  <td th:text="(${u.status}) ? 'Hoạt động' : 'Khóa' ">21-1-2017</td>		  	               
		  	                  <td th:if="${u.status}"><a th:href="@{/change-account-status(id=${u.id})}" ><i class="fa fa-unlock" aria-hidden="true"></i></a></td>
		  	                   <td ><a th:href="@{/change-account-status(id=${u.id})}" th:unless="${u.status}"><i class="fa fa-lock" aria-hidden="true"></i></a></td>
		  	                </tr>
		  	              </tbody>
		  	            </table>
		              </div>
		            </div>

       </div> <!-- end profile-content div -->
    </div>
  </div>
</div>
<br/>  

<!-- Modal -->
  <div class="modal fade" id="change-role" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-sm">
    	<form th:action="@{/change-role}" method="POST">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Change Role</h4>
	        </div>
	        <div class="modal-body">
	        	<input type="hidden" name="userid" id="user-id"/>
				<input id="radio01" type="radio" name="gender" value="1"/> Khách
				<input id="radio02" style="margin-left: 20px;" type="radio" name="gender" value="2"/> Thành viên			
	        </div>
	        <div class="modal-footer" style="margin-top: -3px">
	        	<button type="submit" class="btn btn-primary">Save changes</button>
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	      </div>
      	</form>
    </div>
  </div>


</body>

</html> 