<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"> 

<head>
    <title>Toeic Master - Free Practice for TOEIC® tests </title>

    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/toeic.png}"/>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
     <link rel="stylesheet" th:href="@{/css/mycss.css}"/>

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" th:href="@{/assets/plugins/font-awesome/css/font-awesome.min.css}"/>


    <!-- CSS Theme -->    
    <link rel="stylesheet" th:href="@{/assets/css/themes/dark-blue.css}" id="style_color"/>

</head> 

<body>

<!--=== Top ===-->    
<div class="wrapper">
   
	<div th:replace="fragments/layout :: header"></div>
	
    <!--=== Content Part ===-->
       	
        <div class="row"> 
            <div style="background: url(/assets/img/c3.jpg); height: 600px;">
        	   <h1>.</h1>
               <h1 style="text-align: center; margin-top: 120px; color: #FFF; font-size: 50px">Tự học Anh văn online hiệu quả !</h1>
               <h1 style="text-align: center; margin-top: 40px; color: #FFF; font-size: 30px"><i class="fa fa-check"></i> Luyện tập, nâng cao trình độ TOEIC</h1>
               <h1 style="text-align: center; margin-top: 20px; color: #FFF; font-size: 30px"><i class="fa fa-check"></i> Thực hành Luyện thi theo các đề mẫu</h1>
               <a th:if="${session.user == null}" th:href="@{/login-page}" >
               				<button  id="btndkn">Đăng ký ngay</button></a>
               
            </div>
    		<div class="container content">   
    	            
	           <div class="col-md-12"> 
	               
	          		<p style="font-size: 18px">Trang web này dành cho những người muốn học và luyện thi Toeic</p>
	
	                <p style="font-size: 18px">Trang web chúng tôi có phần <a href="#" class="atoc" style="text-decoration: underline;"> Hướng dẫn</a> - nơi chia sẻ các kiến thức, kinh nghiệm để làm các câu hỏi trong phần Reading và Listening.</p>
	
	                <p style="font-size: 18px">Trong phần <a href="#" class="atoc" style="text-decoration: underline;">Bài tập </a> - bạn có thể luyện tập kỹ năng về các phần trong cấu trúc đề thi Toeic như: Photo - Question Response - Short Conversation - Short Talk - Incomplete Sentence - Text Completion - Single Passage - Double Passage.</p>
	          	   
	                <p style="font-size: 18px">Và cuối cùng sau khi đã tự tin vào kỹ năng và kiến thức của mình bạn có thể vào phần <a href="#" class ="atoc" style="text-decoration: underline;">Bài thi </a> để làm bài thi thử và đánh giá lại khả năng của mình. </p>
	
	                <p style="font-size: 18px">Chúng tôi những người làm nên trang web này mong bạn có những trải nghiệm tốt trên trang web chúng tôi và có được nhiều kiến thức bổ ích về Toeic cũng như đạt được kết quả cao trong kỳ thi thật để có được công việc ổn định và hạnh phúc trong cuộc sống !!! </p>
	
	                <p style="font-size: 18px">Chúc các bạn thành công. </p>
	
	              
	
	            </div>
	

    
    </div><!--/container-->     
    <!--=== End Content Part ===-->

    <div th:replace="fragments/layout :: footer"></div>


</div>
</div>
<!-- JS Global Compulsory -->           
<script type="text/javascript" src="assets/plugins/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 


</body>

</html> 